.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: url(../../repository/images/header.jpg) fixed no-repeat;
    background-size: 100%;
}

.active-item{
    background-color: rgba(6, 153, 141, 0.3);
    background-size: 100%;
    font-weight: 500;
    border-radius: 5px;
}

.mainNav-link:hover{
    background-color: rgba(6, 153, 141, 0.3);
    font-weight: 500;
    border-radius: 5px;
}

.home-content{
    margin-left: 20%;
    height: 100%;
}