
.profile-li, .profile-a{

  font-weight: lighter;
  color: #282c34;

  .active-profile-item, &:active, &:hover{
    border: 0 solid #288282;
    border-bottom-width: 1px;
  }
}

.profile-a:active, .profile-a:hover{
  font-weight: lighter;
  color: #282c34;
}



